aiohttp==3.8.1
aiosignal==1.2.0
async-generator==1.10
async-timeout==4.0.2
autocorrect==2.6.1
Django==4.0.2
django-elasticsearch-dsl==7.2.2
djangorestframework==3.13.1
nltk==3.6.7
lxml==4.7.1
django_elasticsearch_dsl_drf
